.table-container {
  table {
    margin-top: 0;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }

  th {
    position: sticky;
    top: 0;
    z-index: -1;
    background-color: white;
  }

  td,
  th {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
  }
}

.sticky-header {
  th {
    position: sticky;
    top: 0;
    z-index: 0;
    background-color: white;
  }
}
  
  .scrollable-content {
    max-height: 300px;
    overflow-y: auto;
    z-index: -2;
  }